
@font-face {
    font-family: 'Lovelo-Line';
    src: url('fonte/Lovelo\ Line\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/*SELETORES GERAIS*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
	background-color:#002f31;
	font-size:16px;
	margin: 0;
	color:white;
	font-weight: lighter;
	text-align: justify;
}
.principal{
	background-color: #081827;
	width:75%;
	max-width: 1200px;
	margin: 0 auto;
	border-left: solid #14585a 4px;
	border-right: solid #14585a 4px;
	min-height: 900px;
}
.menu{
	background:#155759;
	padding:20px;
	width:75%;
	height: 100px;
	border-bottom-right-radius: 30px;
}
.separador1{
    width:760px;
    max-width:80%;
    height:2px;
    background:#1b6d73;
    margin:20px auto 20px;
	margin-top: 40px;
}
.separador2{
    width:760px;
    max-width:70%;
    height:2px;
    background:#1b6d73;
    margin:20px auto 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}
a{
	color:white;
	font-weight:bold;
	text-decoration: none;
}

/*SELETORES MENU*/
.item-menu {
    float: left;
    margin-left: 30px;
    text-align: center;
}
.textoIcones{
	font-weight: lighter;
}
.time{
    width: 3rem;
    margin: 0 auto;
}
.inicio{
	width: 3rem;
	margin: 0 auto;
}

/*SELETORES DE TEXTO*/
.texto{
	font-size: 25px;
	font-weight: lighter;
	background-color: #14585a;
	padding: 10px;
	color: white;
	max-width: 70%;
	text-align: justify;
	margin:20px auto 20px;
	margin-top: 40px;
	border-radius: 15px;
}
.texto2{
	font-size: 25px;
	font-weight: lighter;
	background-color: #14585a;
	padding: 10px;
	color: white;
	max-width: 70%;
	text-align: justify;
	margin:20px auto 20px;
	margin-top: 40px;
	border-radius: 15px;
}
.tituloo{
	text-align: center;
	padding: 20px;
}
.tituloPrincipal{
	font-size: 50px;
	padding: 20px;
}
.subtituloPrincipal{
	font-size: 25px;
	padding-left: 20px;
	font-weight: lighter;
}
.tituloImagem{
	font-size: 30px;
	margin-top: 10px;
}
h3{
	font-size: 23px;
	font-weight: normal;
}

/*SELETORES FLUTUANTE*/
.flutuante{
	width:330px;
	margin:10px;
	margin-left: 40px;
	float:left;
	background:#14585a;
	padding:10px;
	border-radius: 5%;
}
.flutuante2{
	width:330px;
	margin:10px;
	margin-left: 40px;
	float:right;
	background:#14585a;
	padding:10px;
	border-radius: 5%;
}

/*SELETORES PAGINA INICIO*/
.imagensRoboEtrigo{
	border-radius: 10px;
	width: 100%;
}

.seta{
	margin-left: 75%;
}

.limpar{
	clear:both;
}

/*SELETORES VIDEO ROBOTICA*/
.tituloVideo{
	font-size: 30px;
	text-align: center;
}

.video{
	margin-top: 20px;
	text-align: center;
}

/*SELETORES DA PAGINA TRIGONOMETRIA*/
.triangulo{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 20px;
	margin-left: 80px;
	width: 35em;
	padding: 10px;
	border-radius: 15px;
	float: left;
}
.imgleidoseno{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 100px;
	margin-right: 200px;
	width: 15em;
	padding: 10px;
	border-radius: 15px;
	float: right;
}
.imgleidocosseno{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 160px;
	margin-right: 180px;
	width: 18em;
	padding: 10px;
	border-radius: 15px;
	float: right;
	
}
.img1leidatangente{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 110px;
	margin-right: 190px;
	width: 15em;
	padding: 10px;
	border-radius: 15px;
	float: right;
}
.img2leidatangente{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 10px;
	margin-right: 190px;
	width: 15em;
	padding: 10px;
	border-radius: 15px;
	float: right;
}

.textoleidoseno{
	font-size: 25px;
	background-color: #14585a;
	padding: 10px;
	max-width: 35%;
	margin-left: 200px;
	margin-top: 130px;
	border-radius: 15px;
	float: left;
}
.textoleidocosseno{
	font-size: 25px;
	background-color: #14585a;
	padding: 10px;
	max-width: 35%;
	margin-left: 180px;
	margin-top: 130px;
	border-radius: 15px;
	float: left;
}
.textoleidatangente{
	font-size: 25px;
	background-color: #14585a;
	padding: 10px;
	max-width: 35%;
	margin-left: 180px;
	margin-top: 130px;
	border-radius: 15px;
	float: left;
}
.cosseno{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 20px;
	margin-left: 60px;
	width: 17em;
	padding: 10px;
	border-radius: 15px;
	float: left;
}

.seno{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 20px;
	margin-left: 70px;
	width: 17em;
	padding: 10px;
	border-radius: 15px;
	float: left;
}

.tangente{
	background-color: #0e3d3fb1;
	border: 2px solid #14585a;
	margin-top: 20px;
	margin-left: 70px;
	width: 18em;
	padding: 10px;
	border-radius: 15px;
	float: left;
}

.textoTriangulo1{
	font-size: 25px;
	background-color: #14585a;
	padding: 10px;
	max-width: 35%;
	margin-right: 80px;
	margin-top: 80px;
	border-radius: 15px;
	float: right;
}




/*SELETORES PAGINA TIME*/
.fundoTime {
    background-color: #14585a;
    margin-left: 5%;
    margin-right: 25%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.fundoTimeInvertido {
    background-color: #14585a;
    margin-left: 25%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 15px;
    text-align: right;
	margin-bottom: 50px;
}

.fotoTime1 {
    border-radius: 10px;
    width: 200px;
    height: 225px;
    float: right;
    border: 2px solid #fff;
    margin-left: 15px;
}

.fotoTime2 {
    border-radius: 10px;
    width: 200px;
    height: 225px;
    float: left;
    border: 2px solid #fff;
    margin-right: 15px;
}

.tituloTime {
    font-size: 30px;
    padding: 5px;
    text-align: left;
}

.tituloTime2 {
    font-size: 30px;
	padding: 5px;
	text-align: right;
}

.textoTime {
    font-size: 20px;
    padding: 5px;
    text-align: justify;
}

.textoTime2 {
    font-size: 20px;
    text-align: justify;
	padding: 5px;
}
